################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Framework_API_Automation/FileContentIndex
/.vs/Framework_API_Automation
